language: ruby

rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4

cache: bundler

env:
  - RAKE_ENV=test BUNDLE_PATH=vendor/bundle

before_install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - npm install --global jade pug pug-cli
  - gem install bundler

install:
  - bundle install

script:
  - bundle exec rake test
